h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.flex-item-half {
    width: 50%;
    text-align: left;
    padding: 30px 0;
}

.flex-item-half h2 {
    padding: 0px 10px;
    font-size: 2rem;
    font-weight: bold;
}

h2:hover{
    background-color: #d34a46;
    border-radius: 10px;
    color: #efefef;
    transition: background-color .5s, color .5s;
}

.flex-item-half p {
    font-size: 1rem;
    padding: 5px;
}

.mapcontainer {
    position: relative;
    text-align: center;
}

.pointer {
    max-height: 30px;
    min-width: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.first {
    top: 73%;
    left: 35%;
}

.second {
    top: 75%;
    left: 68%;
}

.third {
    top: 60%;
    left: 60%;
}

.ImageSet {
    max-height: 80%;
    max-width: 60%;
    min-width: 175px;
    min-height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ImageBorder {
    border: 1px solid black;
    margin-bottom: 10px;
}

strong {
    color: #d34a46;
}

@media only screen and (min-width: 1100px) {
    .flex-container {
        flex-direction: row;
    }
    .textBox {
        padding-left: 100px;
    }
}

@media only screen and (max-width: 1099px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .textBox {
        text-align: center;
    }
    h1 {
        text-align: center;
    }
}