body{
    line-height: 1.6;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');
@media only screen and (max-width: 600px) {
    body {
        min-height: 100vh;
        background-color: #efefef;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding-bottom: 127px;
        max-width: 100%;

    }
    div.nav_bar {
        position: fixed;
        display: block;
        top: 0;
        z-index: 10;
        min-height: 60px;
        width: 100%;
        background-color: #efefef;
        font-family: 'Libre Franklin', sans-serif;
        box-shadow: 0px 2px 5px 1px rgba(12, 12, 12, .2);
    }
    .mobile_bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: space-between;
    }
    .mobile_bar .logo {
        height: 50px;
        margin-right: auto;
        margin-left: 5vw;
        padding: 5px;
        align-self: flex-start;
    }
    .menu_icon:hover {
        cursor: pointer;
    }
    .mobile_bar .menu_icon {
        margin-right: 5vw;
        height: 20px;
    }
    .bar_menu {
        display: none;
    }
    .drop_menu {
        position: relative;
        height: 100%;
        display: block;
        background-color: #efefef;
    }
    .drop_menu li {
        text-align: center;
        padding: 20px;
    }
    .drop_menu a {
        height: 100%;
        text-decoration: none;
        color: #121212;
        font-size: 30px;
        text-align: center;
    }
    .drop_menu li:hover {
        background-color: #d34a46;
        color: #efefef;
        transition: background-color .5s, color .5s;
        transition-timing-function: ease;
    }
    .nonactive {
        display: none;
    }
    .content_container {
        margin-top: 80px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 40px;
        width: 90%;
        background-color: #efefef;
        font-family: "Libre Franklin", sans-serif;
        font-size: 20px; 
    }
    footer {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        color: #121212;
        background-color: #dadada;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1rem;
    }
    footer p {
        padding: 20px;
        text-align: center;
    }
    .footer_container {
        display: block;
        position: relative;
        bottom: 0;
        left: 0;
    }
    .footer_content {
        display: flex;
        padding: 20px;
        justify-items: center;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
    }
    .footer_content a {
        text-decoration: none;
        font-weight: bold;
        color: #d34a46;
    }
    .footer_content div p {
        padding: 0px;
        text-align: center;
    }
    .footer_content div {
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 601px) {
    body {
        min-height: 100vh;
        background-color: #efefef;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding-bottom: 127px;
        max-width: 100%;
    }
    footer {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        color: #121212;
        background-color: #dadada;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1rem;
    }
    footer p {
        padding: 20px;
        text-align: center;
    }
    .footer_container {
        display: block;
        position: relative;
        bottom: 0;
        left: 0;
    }
    .footer_content {
        display: flex;
        padding: 20px;
        justify-items: center;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
    }
    .footer_content a {
        text-decoration: none;
        color: #d34a46;
        font-weight: bold;
    }
    .footer_content div p {
        padding: 0px;
        text-align: center;
    }
    .footer_content div {
        padding-bottom: 10px;
    }
    nav {
        width: 100%;
    }
    div.nav_bar {
        top: 0;
        position: fixed;
        z-index: 10;
        min-height: 60px;
        width: 100%;
        display: block;
        background-color: #efefef;
        font-family: 'Libre Franklin', sans-serif;
        box-shadow: 0px 2px 5px 1px rgba(12, 12, 12, .2);
    }
    .mobile_bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: space-between;
    }
    .mobile_bar .logo {
        height: 50px;
        margin-right: auto;
        margin-left: 3vw;
        padding: 5px;
        align-self: flex-start;
    }
    .menu_icon:hover {
        cursor: pointer;
    }
    .mobile_bar .menu_icon {
        display: none;
        margin-right: 40px;
        height: 20px;
    }
    div.bar_menu {
        display: flex;
        height: 100%;
        width: 80%;
    }
    .bar_menu ul {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .bar_menu li {
        display: block;
        height: 100%;
    }
    .bar_menu li.last {
        margin-right: 3vw;
    }
    .bar_menu a {
        height: 100%;
        padding-top: 19px;
        padding-bottom: 19px;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        color: #121212;
    }
    .bar_menu a:hover {
        background-color: #d34a46;
        color: #efefef;
        transition: background-color .5s, color .5s;
        transition-timing-function: ease;
    }
    .drop_menu {
        display: none;
    }
    .nonactive {
        display: none;
    }
    .content_container {
        margin-top: 100px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 40px;
        width: 90%;
        background-color: #efefef;
        font-family: "Libre Franklin", sans-serif;
        font-size: 20px;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 1600px) {
    .content_container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile_bar {
        width: 1200px;
        margin-left: auto;
         margin-right: auto;
    }
}