div.collapsible {
    width: 100%;
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 5px 1px rgba(12, 12, 12, .2);
    background-color: #d34a46;
    color: #efefef;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    transition: background-color .5s, color .5s;
}

div.collapsible.disabled {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
div.collapsible:hover {
    background-color: #d6302a;
    color: #efefef;
    cursor: pointer;
}

div.collapsible::after {
    content: "";
    display: block;
    clear: both;
}

div.collapsible p.title {
    text-align: left;
    float: left;
    margin: 20px;
}

.drop {
    width: 2rem;
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    position: relative;
    top: 28px;
    right: 28px;
    color: #efefef;
}

div.sub_menu_content {
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #dedede;
    box-shadow: 0px 2px 5px 1px rgba(12, 12, 12, .2);
    overflow: hidden;
}

div.sub_menu_content table {
    width: 100%;
    text-align: left;
}

div.sub_menu_content table th {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

div.sub_menu_content table tr {
    border-bottom: solid 1px gray;
}

div.sub_menu_content table td {
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
}

.chili {
    height: 1rem;
    width: 1rem;
}

.dish {
    width: 15%;
    padding-left: 0px;
    padding-right: 5px;
    font-weight: bold;
}

.dish_info {
    width: 55%;
    padding-left: 5px;
    padding-right: 5px;
}

.spice {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.price {
    width: 10%;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.nonactive {
    display: none;
}

.header {
    width: 50%;
    display: inline-block;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #121212;
    padding: 20px;
    vertical-align: middle;
}

.header p {
    padding: 20px;
    text-align: justify;
}

.photos {
    width: 45%;
    display: inline-block;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.order-link {
    color: #d34a46;
    text-decoration: none;
}

@media only screen and (max-width: 650px) {
    table td {
        font-size: 1rem;
    }
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .flex-container h1 {
        text-align: center;
    }
    .header {
        width: 100%;
    }
    .photos img {
        max-height: auto;
        max-width: auto;
        border: 15px solid #d34a46;
        border-radius: 50%;
    }
}

@media only screen and (min-width: 651px) {
    table td {
        font-size: 1.2rem;
    }
    .flex-container {
        flex-direction: row;
    }
    .photos img {
        max-height: auto;
        max-width: auto;
        border: 15px solid #d34a46;
        border-radius: 50%;
    }
}